:root{
             /* ==== Text ====== */

    --Purple-300 : hsl(276, 100%, 81%);
    --Purple-600 : hsl(276, 55%, 52%);
    --Gray-500 : hsl(270, 7%, 64%);
    --Gray-300 : hsl(206, 6%, 79%);
    --Purple-950 : hsl(271, 36%, 24%);
    
    /* ==== gradient ====== */
    
    --Pink-500: hsl(293, 100%, 63%);
    --Purple-500: hsl(264, 100%, 61%);
    
    /* ==== Secondary =====*/
    
    --White: hsl(0, 100%, 100%);
    --Purple-600-light: hsla(276, 55%, 52%, 0.123); 
    --Gray-100 : hsl(270, 20%, 96%);
    --Purple-950 : hsl(271, 36%, 24%);
    --Pink-400 : hsl(289, 100%, 72%);
    --orange:hsl(39, 100%, 50%);
}

*,
*::before,
*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

        /*====CSS Reset ======= */

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; 
  font-family: inherit;
  font-size: inherit; 
  background: none;
  outline: none; 
}
 

img,svg{
    display: block;
    width: 100%;
}

        /* ===== General ====== */

body{
    font-family: 'Rubik',sans-serif;
    background-color: var(--Gray-100);
}

.main{
    width: 80%; 
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10em 0;
}

.app-cover{ 
    border: 1px solid var(--Gray-300);
    border-radius: 2.5rem;
    background-color: var(--White);
}

.app{
    width: 300px; 
    margin: 0.8em;
    border: 1px solid var(--Gray-300);
    border-radius: 2rem;
}

.app-header{
    background-image: linear-gradient( var(--Pink-500),var(--Purple-500));
    display: flex;
    justify-content: space-between;
    padding-top: 2.5em;
    padding-bottom: 1em;
    border-radius: 2rem 2rem 0.5rem 0.5rem;
    position: relative;
}

.shape{
    background-color: var(--White);
    width: 180px;
    height: 40px;
    position: absolute;
    top: -0.8rem;
    left: 20%;
    border-radius: 18px;
}

.avatar{
    display: flex; 
    align-items: center;
}

.avatar-name>:nth-child(1){
    font-weight: 500;
    color: var(--White);
    font-size: 13px;
}
.avatar-name>:nth-child(2){
    font-size: 10px;
    color: var(--Purple-300);
}

.avatar>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--Gray-100);
    margin-right: 0.5em;
}

.app-header svg{
    width: 24px;
}

.app-body{
    background-color: var(--Gray-100);
    display: flex;
    flex-direction: column;
    font-size: 10px;
    gap: 1rem;
    padding: 2em 1em;
    border-radius:0 0 2rem 2rem;
}

.left{
    width: 60%;
    background-color: var(--Purple-600-light);
    color: var(--Purple-600);
    padding: 1em 1.8em 1em 1em;
    border-radius: 8px;
}

.img{
    display: flex;
    align-self: flex-end;
    gap: 0.6rem;
}

.img img{
    width: 50px;
    border-radius: 10px;
}

.right{
    width: 62%;
    background-color: var(--White);
    color:var(--Gray-500);
    align-self: flex-end;
    padding: 1em 1.8em 1em 1em;
    border-radius: 8px 8px 4px 8px;
    box-shadow: 0px 5px 10px 0px var(--Gray-300);
}

.app-body p:nth-of-type(4){
    width:max-content ;
    border-radius:20px 8px 8px 20px ;
}


.price{
    width: 70%;
    background-image: linear-gradient(90deg,var(--Purple-500),var(--Pink-500));
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1.3em;
    border-radius: 8px 8px 8px 4px;
}

.input{
    display: flex;
    align-items: center;
    gap: 1em;
    color: var(--Gray-100);
}

.dollar{
    color: var(--White);
    font-size: 1rem;
    font-weight: 500;
}

input[type="radio"] {  
  background-color: transparent;  
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid var(--Pink-400);
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--orange);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.submit{
    display: flex;
}

input[type="text"]{
    width: 100%;
    height: 45px;
    background-color: var(--White);
    border: 1px solid var(--Gray-300);
    border-radius: 40px;
    padding: 2em;
}

.submit-btn{
    background-color: var(--Purple-950);
    align-self: center;
    margin-left: -4em;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
}

input::placeholder{
    color: var(--Gray-300);
}


.text{
    width: 47%;
}

.text h1{
    color: var(--Purple-950);
    padding-bottom: 1em;
    font-weight: 700;
    font-size: 3rem;
}

.text p{
    color: var(--Gray-500);
    line-height: 1.8; 
    font-size: 1.2rem;
}

.purple-bg{
    width: 27%;
    height: 1093px;
    background-color: var(--Purple-500);
    position: absolute;
    top: -13rem;
    left: -3rem;
    z-index: -1;
    border-radius:300px/250px;
}